<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>915492811277-82ahn3btuoonm9cm7r23cfnsfs4ltrlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915492811277-82ahn3btuoonm9cm7r23cfnsfs4ltrlj</string>
	<key>API_KEY</key>
	<string>AIzaSyCDx3KzxHMOzCS0E9Y_TLAHdJLIj6qsbMo</string>
	<key>GCM_SENDER_ID</key>
	<string>915492811277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.4barsTechnologies.FirebaseBillboardApp</string>
	<key>PROJECT_ID</key>
	<string>fir-media-app-521e6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-media-app-521e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:915492811277:ios:a7a57955b3c07321</string>
	<key>DATABASE_URL</key>
	<string>https://fir-media-app-521e6.firebaseio.com</string>
</dict>
</plist>